{% extends 'base.html' %}
{%block content%}

<p>Welcome to ThoughtStream, a platform where ideas flow freely and connections are built through the power of words.<br> Here, we believe that everyone has a unique perspective worth sharing, whether through thoughtful commentary, insightful <br>reflections, or creative storytelling. ThoughtStream is designed to bring readers and writers together in a meaningful space, <br>offering features that make it easy to explore, engage with, and save content that resonates. Our mission is to foster an inspiring <br>environment where voices are heard, perspectives are valued, and communities are formed. Dive in, and let your thoughts become <br>
    part of the stream.</p>


{% endblock %}