{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Blog Posts</h1>
    
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 mb-4"> 
            <div class="card h-100"> 
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <img src="{{ current_user.profile_photo or url_for('static', filename='images/default_profile.jpg') }}" 
             alt="{{ current_user.username }}'s Profile Photo" 
             class="img-fluid rounded-circle mb-3" 
             style="width: 40px; height: 40px; object-fit: cover;">
                    <p class="date-author">{{post.date_posted.strftime('%B %d, %Y')}} | {{ post.author.username }}</p>
                    <p class="card-text">{{ post.body[:100] }}...|safe</p>
                    <a class="btn btn-primary" href="{{ url_for('post_detail', post_id=post.id) }}">Read more</a>
                </div>
                {% if post.author == current_user %}
                <div class="card-footer d-flex justify-content-between">
                    <form method="POST" action="/post/{{ post.id }}/delete">
                        <button class="btn btn-danger" type="submit">Delete Post</button>
                    </form>
                    <a href="{{ url_for('edit_post', post_id=post.id) }}" class="btn btn-secondary">Edit Post</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination">
      {% if posts.has_prev %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('posts', page=posts.prev_num) }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
      {% endif %}
      
      {% for page_num in posts.iter_pages() %}
        {% if page_num %}
          <li class="page-item {% if page_num == posts.page %}active{% endif %}">
            <a class="page-link" href="{{ url_for('posts', page=page_num) }}">{{ page_num }}</a>
          </li>
        {% else %}
          <li class="page-item"><span class="page-link">...</span></li>
        {% endif %}
      {% endfor %}

      {% if posts.has_next %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('posts', page=posts.next_num) }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}
